* {
  box-sizing: border-box;
}
/* 
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

/* Custom variables */
:root {
  /* Colors */
  --primary-clr: #824936;
  --dark-clr: #222c2a;
  --light-clr: #f3eed9;

  /* Font size  */
  --xl: 3.75rem;
  --lg: 2.25rem;
  --md: 1.25rem;
  --sm: 1.125rem;
}

/* General selections */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--md);
  line-height: 1.6;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 70.5rem;
}

img {
  max-width: 100%;
  margin: 0;
}

section {
  padding: 3.125rem 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  line-height: 1.1;
  font-size: 1.875rem;
}

h2 {
  margin-bottom: 0.8em;
}

/* Intro   */
.intro {
  background-color: var(--light-clr);
  text-align: center;
  padding: 12.5rem 0;
  min-height: 41.25rem;
  display: flex;
  align-items: center;
}

.intro__text {
  color: var(--dark-clr);
  text-transform: uppercase;
  font-size: var(--sm);
  letter-spacing: 0.3rem;
  font-weight: 300;
  margin: 0;
}

.intro__title {
  color: var(--primary-clr);
  font-size: 3.125rem;
  margin: 0;
}

/* Section one */
.section-one h2 {
  color: var(--primary-clr);
}

.section-one p {
  color: var(--dark-clr);
}

/* Section two  */
.section-two {
  background-color: var(--dark-clr);
}

.section-two h2,
.section-three h2 {
  color: var(--light-clr);
}

/* Section three  */
.section-three {
  background-color: var(--primary-clr);
}

/* Responsive - mobile first */
@media screen and (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  h2 {
    margin-top: 0;
  }

  .section-one .section-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .intro__title {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.25rem;
  }
}
